<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
<!ELEMENT product ANY>
<!ATTLIST product id ID #REQUIRED>

]>
<root id="-1">
  <Home id="1052" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2013-12-03T14:40:43" updateDate="2013-12-03T14:42:49" nodeName="Nasty Ass Page" urlName="nasty-ass-page" path="-1,1052" isDoc="" nodeType="1051" creatorName="admin" writerName="admin" writerID="0" template="1050" nodeTypeAlias="Home">
    <product id="1057" parentID="1052" level="2" creatorID="0" sortOrder="1" createDate="2013-12-03T15:23:03" updateDate="2013-12-11T10:35:17" nodeName="Gibson Les Paul Gold Top" urlName="gibson-les-paul-gold-top" path="-1,1052,1057" isDoc="" nodeType="1054" creatorName="admin" writerName="admin" writerID="0" template="1053" nodeTypeAlias="product">
      <sku><![CDATA[11]]></sku>
      <price><![CDATA[15000]]></price>
      <description><![CDATA[The Real Shit]]></description>
      <category><![CDATA[Light]]></category>
    </product>
    <product id="1063" parentID="1052" level="2" creatorID="0" sortOrder="3" createDate="2013-12-11T09:32:22" updateDate="2013-12-11T09:32:22" nodeName="Darth Vader Pansy Edition" urlName="darth-vader-pansy-edition" path="-1,1052,1063" isDoc="" nodeType="1054" creatorName="admin" writerName="admin" writerID="0" template="1053" nodeTypeAlias="product">
      <sku><![CDATA[666]]></sku>
      <price><![CDATA[1800]]></price>
      <description><![CDATA[This is the Dark Lord wearing nothing but tight leather spandex.]]></description>
      <category><![CDATA[Dark]]></category>
    </product>
    <product id="1059" parentID="1052" level="2" creatorID="0" sortOrder="3" createDate="2013-12-03T16:02:29" updateDate="2013-12-11T09:33:45" nodeName="School Boy's Uniform" urlName="school-boys-uniform" path="-1,1052,1059" isDoc="" nodeType="1054" creatorName="admin" writerName="admin" writerID="0" template="1053" nodeTypeAlias="product">
      <sku><![CDATA[33]]></sku>
      <price><![CDATA[500]]></price>
      <description><![CDATA[Eat my shorts]]></description>
      <category><![CDATA[Dark]]></category>
    </product>
    <product id="1058" parentID="1052" level="2" creatorID="0" sortOrder="4" createDate="2013-12-03T16:01:19" updateDate="2013-12-11T10:35:26" nodeName="Marshall JCM 800" urlName="marshall-jcm-800" path="-1,1052,1058" isDoc="" nodeType="1054" creatorName="admin" writerName="admin" writerID="0" template="1053" nodeTypeAlias="product">
      <sku><![CDATA[22]]></sku>
      <price><![CDATA[8000]]></price>
      <description><![CDATA[Sound of thunder]]></description>
      <category><![CDATA[Light]]></category>
    </product>
  </Home>
  <Home id="1060" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2013-12-04T13:20:42" updateDate="2013-12-04T13:20:42" nodeName="Search Results Page" urlName="search-results-page" path="-1,1060" isDoc="" nodeType="1051" creatorName="admin" writerName="admin" writerID="0" template="1050" nodeTypeAlias="Home" />
</root>